<% if flash.present? %>
  <div class="pt-3 space-y-3 absolute top-0 start-1/2 -translate-x-1/2">
    <% flash.each do |flash_type, messages| %>
      <div class="toast-popup max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg" data-controller="toast">
        <div class="flex p-4">
          <%= render "shared/flash_icon", flash_type: flash_type %>

          <div class="ms-3 text-sm text-gray-700">
            <% if messages.is_a? Array %>
              <%= messages.join(", ").gsub("'","").html_safe %>
            <% else %>
              <%= messages.gsub("'","").html_safe %>
            <% end %>
          </div>

          <div class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8" aria-label="Close" data-action="click->toast#close">
            <svg class="size-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>