<%= render layout: "shared/my_products" do %>
  <div class="flex flex-wrap -m-4">
    <% @bought_products.each do |product| %>
      <%= render "products/card", product: product %>
    <% end %>
  </div>
<% end %>
