<div class="max-w-2xl mx-auto my-8 px-6 py-4 bg-white shadow-md rounded">
  <h1 class="text-xl mb-4 font-semibold text-gray-700">Edit Product</h1>

  <%= render "form", product: @product %>

  <div class="mt-6">
    <%= link_to "Back to products", my_products_path, class: "text-blue-600 hover:text-blue-700" %>
  </div>
</div>

