<div class="flex justify-between items-center mb-20">
  <div class="flex flex-col text-left space-y-1 justify-between">
    <h4 class="text-2xl text-gray-900 font-bold">🔍 Discover</h4>
    <p class="text-base text-gray-500 font-medium">Explore a World of Unique Products</p>
  </div>

  <div class="relative">
    <%= form_with method: :get, local: true, class: "flex" do |form| %>
      <%= form.text_field :query, value: params[:query], class: 'rounded-l-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow text-base focus:outline-none', placeholder: 'Search products...' %>
      <%= form.button class: 'text-sm bg-gray-800 hover:bg-gray-900 text-white py-2 px-2 rounded-r-lg' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
      <% end %>
    <% end %>
  </div>
</div>

<div class="flex flex-wrap -m-4">
  <% @products.each do |product| %>
    <div class="p-4 w-1/4 mt-12">
      <%= render "card", product: product, product_page_path: product_path(product) %>
    </div>
  <% end %>
</div>
