<div class="flex flex-col">
  <div class="flex justify-between">
    <div class="text-sm text-gray-700">
      Your rating:
    </div>

    <%= render "reviews/rating", review: review %>
  </div>

  <div class="text-sm text-gray-700 mt-4">
    <%= review.comment.present? ? "\"#{review.comment}\"" : nil %>
  </div>

  <%= link_to "Edit", edit_user_purchase_review_path(@user_purchase, review), data: { turbo_method: :get, turbo_prefetch: false }, class: "w-full text-sm duration-200 border font-medium focus:outline-none focus:ring-2 inline-flex items-center whitespace-nowrap bg-white hover:bg-gray-300 text-gray-900 justify-center rounded-md shadow-sm border-gray-700 py-2 px-4 mt-4" %>
</div>
